# keys
*.env
!example.env
!example.dev.env
*.pem
# leave one localhost cert in there as filler
!localhost.pem
*.crt
*.key

# builds and deps
node_modules
build
dist

# e2e records
e2e/videos/index.test.js.mp4
e2e/tests/index.test.js

# editor
.vscode

# SQL files from threadDB
*.sql
*.sqlite

# local files
.DS_Store
