##### base variables #####
ENV_CHECK=working
PORT_API_HTTP=1080
PORT_API_HTTPS=10443

##### for CI/Production #####
# change to 80 and 443 in production
PORT_EXTERNAL_HTTP=1080
PORT_EXTERNAL_HTTPS=10443
EMAIL=for-ssl-registration@email.com
# use localhost when doing local run or CI build
HOST=eduvault.org
# TEST_ENV='e2e' # activate for local run of ci build 

